XML/Schema/helado.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name ="tipoHelado">
	<xs:sequence>
		<xs:element name ="sabor">
			<xs:simpleType>
				<xs:restriction base ="xs:string">
					<xs:enumeration value="fresa"/>
					<xs:enumeration value="chocolate"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name ="recipiente">
			<xs:simpleType>
				<xs:restriction base ="xs:string">
					<xs:enumeration value="cono"/>
					<xs:enumeration value="tarrina"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

<xs:element name ="helado" type ="tipoHelado"/>

</xs:schema>